# =========================
# OJS DATA
# =========================
ojs-files/

# GeoIP
*.mmdb

# =========================
# PYTHON (risk-engine & scanner)
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# =========================
# DOCKER & ENV
# =========================
.env
.env.*
docker-compose.override.yml

# =========================
# LOG & TEMP
# =========================
*.log
logs/
tmp/
temp/

# =========================
# SYSTEM
# =========================
.DS_Store
Thumbs.db

# =========================
# EDITOR
# =========================
.vscode/
.idea/
